fastapi
uvicorn[standard]
python-multipart
pydantic
transformers<5.0.0
openai
accelerate
PyMuPDF
loguru
Pillow
einops
addict
hf_transfer
easydict
matplotlib
paramiko
--extra-index-url https://download.pytorch.org/whl/rocm7.2
torch
torchvision
torchaudio

