[submodule "Algorithm"]
	path = cpp_general/Algorithm
	url = https://gitlab.com/haxscamper-misc/cpp/Algorithm.git
[submodule "DebugMacro"]
	path = cpp_general/DebugMacro
	url = https://gitlab.com/haxscamper-misc/cpp/DebugMacro.git
